body {
    margin: 0;
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

a {
    transition: 0.3s;
}

.toasts-top-right {
    top: 50px;
    right: 0;
    z-index: 999999;
}

.vanillatoasts-toast {
    box-shadow: rgb(0 0 0 / 15%) 0px 4px 8px 0px;
}

.online-status {
    height: 10px;
    width: 10px;
    background-color: #00ff08;
    border-radius: 50%;
    display: inline-block;
}

.online-status-admin {
    padding-left: 3px;
    color: #c2c7d0;
    font-size: 13px;
}

.online-admin-name {
    margin-bottom: -4px;
    transition: 0.3s;
}

.user-panel img {
    height: 37px;
    width: 2.3rem;
    margin-top: 8px;
    border-radius: 50%;
}

.user-panel .image {
    display: inline-block;
    padding-left: 9.5px;
}

.user-panel .info {
    display: inline-block;
    padding: 5px 5px 5px 15px;
}

.user-panel {
    overflow: hidden;
    white-space: nowrap;
    border-bottom: 1px solid #4b545c;
    height: 75px;
    padding-top: 2px !important;
}

.na-sign-out-icon {
    padding-left: 4px;
}

.social-icon {
    color: rgba(0, 0, 0, 0.5);
}

.social-icon:hover {
    color: #212529;
    text-decoration: none;
}

.brand-image {
    float: left !important;
    line-height: 0.8 !important;
    margin-left: 0.3rem !important;
    margin-right: 0.5rem !important;
    margin-top: 2px !important;
    max-height: 27px !important;
    width: auto !important;
    box-shadow: 0 3px 3px rgb(0 0 0 / 15%), 0 6px 6px rgb(0 0 0 / 15%) !important;
}

.brand-text {
    transition: 0.3s;
}

.main-header {
    margin-left: 250px;
    border-bottom: 1px solid #dee2e6;
}

.navbar-custom {
    padding: 8px 8px !important;
}

.nav-link {
    padding-right: 16px !important;
    padding-left: 16px !important;
}

.navbar-search-block {
    background-color: #f2f4f6;
    border: 0 !important;
}

.input-group-append {
    display: flex;
}

.input-search-box,
.input-search-box:focus {
    background: #f2f4f6;
    border: 0;
}

.home-search-submit {
    background: #f2f4f6;
    color: rgba(0, 0, 0, 0.6);
}

.main-sidebar {
    height: inherit;
    min-height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    background-color: #343a40;
    overflow-y: hidden; /* Disable vertical scroll */
    overflow-x: hidden; /* Disable horizontal scroll */
    z-index: 1038;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

.elevation-4 {
    box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%) !important;
}

.elevation-2 {
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%) !important;
}

.fa,
.fas {
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
}

.navbar-badge {
    font-size: 0.6rem;
    font-weight: 300;
    padding: 2px 4px;
    position: absolute;
    right: 5px;
    top: 9px;
}

.dashboard-home-search {
    padding-top: 5px;
}

.brand-link {
    display: block;
    font-size: 1.25rem;
    line-height: 1.5;
    padding: 0.8125rem 0.5rem;
    transition: width 0.3s ease-in-out;
    white-space: nowrap;
    color: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid #4b545c;
}

.brand-link:hover {
    color: #fff;
    text-decoration: none;
}

.sidebar {
    overflow-y: initial;
    padding-bottom: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0;
}

.sidebar a {
    color: #c2c7d0;
}

.sidebar a:hover {
    text-decoration: none;
    color: #fff;
}

.nav-sidebar > .nav-item .nav-icon {
    margin-left: 0.05rem;
    font-size: 1.2rem;
    margin-right: 0.2rem;
    text-align: center;
    width: 1.6rem;
}

.nav-sidebar .nav-link {
    transition: 0.3s;
}

.nav-sidebar .nav-item > .nav-link {
    position: relative;
}

.flex-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
}

.nav-sidebar > .nav-item:hover > .nav-link,
.nav-sidebar > .nav-item > .nav-link:focus {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}

.nav-sidebar .nav-link p {
    display: inline-block;
    margin: 0;
    padding-bottom: 4px;
}

.nav-sidebar > .nav-item > .nav-link > .nav-icon {
    width: 1.6rem;
    font-size: 1.1rem;
}

.main-footer {
    background-color: #fff;
    border-top: 1px solid #dee2e6;
    color: #869099;
    padding: 12px 16px;
    margin-left: 250px;
    transition: 0.5s;
}

.sidebar-collapse {
    margin-left: 0;
    width: 4.6rem;
}
#sideMenu .nav-link {
    width: 234px;
    padding-left: 12px !important;
    overflow: hidden;
}

#sideMenu .nav-item {
    height: 35px;
    margin: 7px 0;
}
/* #sideMenu .nav-item a {
    height: 44px;
} */
#bodyContent .main-header,
#bodyContent .content-wrapper,
#bodyContent .main-footer {
    transition: 0.5s;
}
#sideMenu .brand-link {
    height: 57px;
}

#sideMenu .nav-link i {
    width: 30px !important;
    text-align: center;
    margin-right: 8px;
    float: left;
    margin-top: 3px;
}

#sideMenu .nav-link span {
    float: left;
    position: absolute;
    margin-top: -1px;
}

#sideMenu .nav-sidebar .nav-link p {
    padding-bottom: 0 !important;
}

.highlighted-title {
    background-color: #007bff !important;
    color: white !important;
    font-weight: bold;
}

.highlighted-title:hover {
    background-color: #007bff !important;
    color: white !important;
    pointer-events: none;
}

.required:after {
    content: "*";
    color: red;
    font-size: 17px;
}
body {
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#sideMenu {
    width: 250px;
}

#bodyContent .main-header,
#bodyContent .content-wrapper,
#bodyContent .main-footer,
.content-wrapper {
    margin-left: 250px;
}

.menu-collapse {
    width: 4.6rem !important;
}

.menu-collapse-state .brand-text,
.menu-collapse-state .online-admin-name,
.menu-collapse-state .online-status,
.menu-collapse-state .online-status-admin {
    display: none !important;
}

.menu-collapse-state .highlighted-title span {
    color: #007bff !important;
}

.menu-collapse-state .nav-link span {
    color: #343a4000;
}

.menu-collapse-width-status #bodyContent .main-header,
.menu-collapse-width-status #bodyContent .content-wrapper,
.menu-collapse-width-status #bodyContent .main-footer,
.menu-collapse-width-status .content-wrapper {
    margin-left: 4.6rem;
}

.menu-collapse-width-status #sideMenu .nav-link {
    width: 56px !important;
}

.menu-collapse-width-status .main-footer {
    margin-left: 4.6rem !important;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border: 3px solid white;
}
/* .menu-collapse .nav-link p,
.menu-collapse .brand-text,
.menu-collapse .online-seller-name,
.menu-collapse .online-status,
.menu-collapse .online-status-seller {
    transition-property: display;
    transition-duration: 5s;
    transition-delay: 0.3s;
    display: none !important;
} */
/* 
.menu-collapse .nav-link {
    width: 56px !important;
} */

/* .menu-collapse #sideMenu .nav-link {
    width: 56px;
}
.menu-collapse nav .nav-item p {
    display: none;
}

.menu-collapse #bodyContent .main-header,
.menu-collapse #bodyContent .content-wrapper,
.menu-collapse #bodyContent .main-footer {
    margin-left: 4.6rem !important;
}

.collapse-width {
    width: 4.6rem;
}
.collapse-width .nav-item {
    width: 56px;
} */

.header-wrapper {
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 1037;
}

.content-wrapper-title {
    margin-top: 60px;
}

.modal-content {
    border: 0px !important;
    border-radius: 0.3rem 0.3rem 0 0 !important;
}
