body {
    background-color: #e9ecef;
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
}

.login-body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95vh;
}

.d-login-window {
    background-color: #f1f3fa;
    border-radius: 8px;
    margin: auto;
    box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
    width: 360px;
}

.d-login-t1 {
    font-size: 28px !important;
    font-weight: 600;
    padding: 14px 0px;
}

.d-login-t2 {
    font-size: 18px !important;
    padding: 10px 0px;
}

.d-login-desc {
    font-size: 13px !important;
    margin-bottom: 15px;
    margin-top: 5px;
}

.sign-input {
    border-radius: 7px;
    font-size: 14px;
    height: 38px;
}
.sign-input::placeholder {
    font-size: 0.8rem !important;
}

.sign-in-remember,
.sign-in-forget {
    color: rgba(116, 116, 116, 0.993);
    margin-bottom: 5px;
    font-size: 14px !important;
}

.submit-button {
    margin-top: 15px;
    width: 100%;
    height: 38px;
    border-radius: 7px;
}
.button-1 {
    background-color: #042863;
}

.button-1:hover {
    background-color: #0347b6;
}

.sign-field-icon {
    float: right;
    margin-right: 8px;
    margin-top: -45px;
    position: relative;
    z-index: 2;
}

.d-login-form {
    padding: 20px;
}

.required:after {
    content: "*";
    color: red;
    font-size: 17px;
}

.d-login-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.d-login-footer div {
    background-color: rgba(0, 0, 0, 0.2);
    padding-right: 140px !important;
}

.d-login-footer a {
    color: rgb(83, 83, 83) !important;
}

.d-login-footer a:hover {
    color: black !important;
}

.bsalert {
    padding: 5px 9px;
    font-size: 13px;
}
