.filter-related-cato .selected-c,
.filter-related-cato .selected-sc {
    color: red;
    pointer-events: none;
}

.filter-related-cato .selected-sc {
    text-decoration: underline;
}

.category-shops {
    height: 310px;
    border: 1px solid #dadada;
}

.category-shops:hover {
    box-shadow: rgb(0 0 0 / 15%) 0px 1px 6px 1px;
}

.category-shops .search-tile-get-direction {
    position: unset !important;
    right: 0;
}

.owl-c-5 .owl-stage-outer {
    height: 265px !important;
}

.category-tile {
    padding: 0px;
    margin-right: 10px;
    flex: 0 0 32.19% !important;
    max-width: 32.19% !important;
    margin-bottom: 60px;
}

.category-tile .home-tile-shop-img {
    height: 200px;
}

.store-categories .home-tile-title-h {
    font-size: 14px;
}

.store-categories .home-tile-title-p {
    font-size: 12px;
}

.store-categories .home-tile-rating {
    font-size: 13px;
}

.store-categories .home-tile-title {
    overflow: hidden;
    margin-left: 10px;
    margin-right: 10px;
}

.store-categories .search-tile-body:hover .home-tile-shop-img {
    filter: brightness(70%);
}

.store-categories .home-tile-title-h,
.store-categories .home-tile-title-p {
    margin-left: 0px;
    margin-right: 0px;
}

.store-categories .no-result .noResult {
    margin-top: 40px;
    margin-bottom: 110px !important;
}

.store-categories .home-tile-rating {
    margin-right: 0px !important;
}

.mb-5p {
    margin-bottom: 5px !important;
}
