.f-w-0 {
    font-weight: unset;
}

.mb-8 {
    margin-bottom: 8px;
}

.p-0 {
    padding: 0px;
}

.pr-0 {
    padding-right: 0px !important;
}

.pl-0 {
    padding-left: 0px !important;
}

.m-0 {
    margin: 0px !important;
}

.ml-0 {
    margin-left: 0px !important;
}

.mt-0 {
    margin-top: 0px !important;
}

.mb-0 {
    margin-bottom: 0px !important;
}

.mr-0 {
    margin-right: 0px !important;
}

.pl-0 {
    padding-left: 0px !important;
}

.pr-0 {
    padding-right: 0px !important;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-40 {
    margin-bottom: 40px !important;
}

.mt-20 {
    margin-top: 20px;
}

.bg-w {
    background-color: white !important;
}

.mt-15 {
    margin-top: 15px !important;
}

.mt-25 {
    margin-top: 25px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mt--30 {
    margin-top: -30px !important;
}

.mp-0 {
    margin: 0 !important;
    padding: 0 !important;
}

.m-auto {
    margin: auto !important;
}

.ml-15 {
    margin-left: 15px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-35 {
    margin-top: 35px !important;
}

.mt-40 {
    margin-top: 40px !important;
}

.prlt-15 {
    padding: 15px 15px;
}

.cr {
    color: red !important;
}
.pl--5 {
    padding-left: 5px !important;
}
.pr--5 {
    padding-right: 5px !important;
}

.pt-15 {
    padding-top: 15px !important;
}

.pt-10 {
    padding-top: 10px !important;
}

.pt-20 {
    padding-top: 20px !important;
}

.pb-0 {
    padding-bottom: 0px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-100 {
    margin-bottom: 100px !important;
}

.jc-c {
    justify-content: center;
}

.pr-25 {
    padding-right: 25px !important;
}

.pl-25 {
    padding-left: 25px !important;
}

.pb-15 {
    padding-bottom: 15px !important;
}

.pb-25 {
    padding-bottom: 25px !important;
}

.mt-9 {
    margin-top: 9px !important;
}

.toasts-top-right {
    top: 165px;
    right: 0;
    z-index: 999999;
}
.btn:focus {
    box-shadow: none !important;
}

.h-btn {
    background: transparent;
    outline: 0;
    border: none;
}
.fs-14 {
    font-size: 14px !important;
}

.fs-13 {
    font-size: 13px !important;
    text-transform: capitalize;
}

.reset-img {
    width: 100px;
    height: 116px;
    background-size: 101px;
    background-repeat: no-repeat;
    margin: auto;
    margin-bottom: 0px;
    margin-top: 25px;
}

.w-100 {
    width: 100%;
}

.p-p3 {
    padding: 3px !important;
}

.h-25 {
    height: 25px !important;
}

.pr-30 {
    padding-right: 30px !important;
}

.f-upp {
    text-transform: capitalize !important;
    font-size: 14px !important;
}

.f-cpt {
    text-transform: capitalize !important;
}

.jc-fe {
    justify-content: space-between;
}

.pt-16 {
    padding-top: 16px !important;
}

.mt-22 {
    margin-top: -22px;
}
.mt-16 {
    margin-top: -16px;
}

.mt-145 {
    margin-top: 145px !important;
}

.bg-f8f8f8 {
    background-color: #f8f8f8 !important;
}

.fs-14 {
    font-size: 14px !important;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

#loading {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255) url("/img/loading.gif") no-repeat center;
    z-index: 999999;
    top: 0px;
}

.loader-top {
    top: 140px !important;
}

.pagination-udiv {
    position: absolute;
    bottom: 6px;
    right: 10px;
    width: 98%;
}

.result-col {
    position: relative;
}

.sign-input,
.cc-enquiry {
    box-shadow: none !important;
}

.sign-input:focus,
.cc-enquiry:focus {
    border: 1px solid #bbbbbb !important;
    color: rgb(45, 45, 45);
}

.pl-45 {
    padding-left: 45px !important;
}

#backToTopBtn {
    display: inline-block;
    background-color: #ff9800;
    width: 45px;
    height: 45px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}
#backToTopBtn::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}
#backToTopBtn:hover {
    cursor: pointer;
    background-color: #031893;
    text-decoration: none !important;
}
#backToTopBtn:active {
    background-color: #031162;
}
#backToTopBtn.show {
    opacity: 1;
    visibility: visible;
}

.mb-pt-1 {
    margin-bottom: 18px;
    padding-bottom: 5px;
}

.pbb-5 {
    padding-bottom: 5px;
}

.c-a {
    color: #444343 !important;
}

.mbb-5 {
    margin-bottom: 5px !important;
}

.prl-5 {
    padding: 0 5px !important;
}

.bg-def {
    background-color: #f2f2f2 !important;
}

.bg-w {
    background-color: white;
}
