.header-1 {
    width: 100%;
    border-bottom: solid 2px #e6e6e6;
    background-color: #ffffff;
    color: #999999 !important;
    height: 36px;
}

.header-3 {
    background: #141e30 !important;
    color: #999999 !important;
    height: 43px;
    border-bottom: none !important;
}

.a-nav-link {
    font-weight: 600;
    font-size: 13px;
    color: #6e6e6e !important;
    transition: 0.3s;
    margin-right: 8px;
    text-transform: uppercase;
}

.a-nav-link:hover {
    color: #042863 !important;
    text-decoration: none;
    transition: 0.3s;
}

.nav-dropdown .dropdown-menu {
    margin-top: -8px;
}

.a-nav-link-2 {
    font-weight: 600;
    font-size: 13px;
    color: #909090;
    transition: 0.3s;
    margin-right: 8px;
    text-transform: uppercase;
}

.a-nav-link-2:hover {
    color: #042863 !important;
    transition: 0.3s;
}

.a-link-2 {
    font-weight: 400;
    font-size: 13px;
    font-family: "Oswald";
    transition: 0.3s;
    margin-right: 20px;
    color: white !important;
}

.a-link-2:hover {
    color: #d7d7d7 !important;
    transition: 0.3s;
}

.a-link-2:hover > .wishlist-icon {
    filter: brightness(0.8);
    transition: 0.3s;
}

.cart {
    margin-left: 23px;
    margin-right: 20px;
}

.cart:hover {
    cursor: pointer;
}

.wishlist-icon {
    width: 20px;
    margin-left: 1px;
    margin-top: -3px;
    transition: 0.3s;
}

.cart-icon {
    width: 30px;
    margin-top: 3px;
    transition: 0.3s;
    margin-right: 36px;
}

.wishlist-icon,
.cato-icon {
    padding-left: 4px;
}

.cato-icon {
    font-weight: 600;
    font-size: 11px;
}

.cart-count {
    background-color: rgb(243, 53, 53);
    position: absolute;
    color: white;
    border-radius: 100%;
    padding: 1px 5px 0px 5px;
    font-size: 11px;
    margin-left: -38px;
    margin-top: -6px;
}

.left-border {
    border-left: 0.5px solid rgb(128 128 128 / 31%);
    position: relative;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 20px;
}

.become-a-seller {
    border: 1px;
    background-color: #042863;
    border-radius: 20px;
    padding: 2.5px 10px !important;
    color: white !important;
    height: 26px;
    margin-top: 5px;
    margin-left: 20px;
    transition: 0.3s;
}

.become-a-seller:hover {
    background-color: #292929 !important;
    transition: 0.3s;
    color: white !important;
    text-decoration: none !important;
}

.header-img {
    height: 48px;
    margin-left: 8px;
}

.header-img-2 {
    height: 29px;
    padding-bottom: 3.5px;
    margin-left: 3px;
}

/* city selector  */

.city-input {
    border-radius: 20px !important;
    margin-right: 15px;
}

.city-icon {
    float: right;
    margin-top: -21px;
    color: red;
    margin-right: 25px;
}

.city-angle-icon {
    float: right;
    margin-top: -20px;
    color: #042863;
    margin-right: 43px;
}

/*the container must be positioned relative:*/

.city-wapper {
    margin-right: -25px;
}

.city-wapper .autocomplete {
    position: relative;
    display: inline-block;
}

.city-wapper input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 12px;
}

.city-wapper input[type="text"] {
    width: 80%;
    height: 27px;
    padding-right: 44px;
    margin-left: 36px;
    border: 0;
    transition: 0.3s;
    cursor: pointer;
    font-size: 13px;
    color: #444444;
    font-weight: 500;
}

#CityInputTxt {
    font-family: Roboto, sans-serif;
}

.city-wapper input[type="text"]:focus {
    box-shadow: none;
    transition: 0.3s;
}

.city-wapper input[type="submit"] {
    background-color: DodgerBlue;
    color: #fff;
    cursor: pointer;
}

.city-wapper .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
    margin-top: 1px;
    background-color: #dfdede;
    max-height: 350px;
    overflow: auto;
    box-shadow: 0px 1px 10px 0px #b5b5b5;
    margin-right: -25px;
    width: 152px;
    margin-left: 22px;
    border-radius: 0 0px 10px 10px;
}

.city-wapper .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.city-wapper .autocomplete-items div:hover {
    background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.city-wapper .autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}

/* Search bar  */
.search-input {
    border-radius: 20px !important;
}

/*the container must be positioned relative:*/
.search-bar .autocomplete {
    position: relative;
    display: inline-block;
}

.search-bar input {
    background-color: #dddddd;
    padding: 2px 10px;
    font-size: 13px;
}

.search-bar input[type="text"] {
    width: 510px;
    height: 40px;
    transition: 0.3s;
    border: 0px;
    padding-left: 20px;
    padding-right: 234px;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    color: black;
}

.search-bar input[type="text"]:focus {
    color: black;
    border-radius: 20px;
    border: 1px solid #dbe0e2;
    background-color: #dddddd;
    box-shadow: none;
    outline: none;
    border: 0px;
    transition: 0.3s;
}

.search-bar input[type="submit"] {
    background-color: DodgerBlue;
    color: #fff;
    cursor: pointer;
}

.search-btn {
    float: left;
    width: 40px;
    height: 44px !important;
    padding: 4px;
    background: transparent;
    color: white;
    font-size: 19px;
    border-left: none;
    cursor: pointer;
    margin-left: -41px;
    z-index: 0;
    margin-top: 5px;
    border-radius: 0px 18px 18px 0px !important;
    border-width: 0px 0px 0px 1px; /* top right bottom left */
    border-style: solid;
    border-color: #f8f8f8;
    transition: 0.3s;
}

.search-icon {
    float: right;
    font-size: 18px;
    margin-right: 9px;
    color: #042863;
}

.search-bar .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: -5px;
    background-color: white;
    max-height: 402px;
    overflow: auto;
    box-shadow: 0 6px 8px 1px rgb(50 50 50 / 20%);
    margin-right: -25px;
    width: 453px;
    margin-left: 15px;
    border-radius: 3px 3px 3px 3px;
    padding: 5px 0px;
}

.search-bar .autocomplete-items div {
    padding: 4px 15px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: unset;
    text-transform: capitalize;
}

/*when hovering an item:*/
.search-bar .autocomplete-items div:hover {
    background-color: #e9e9e9;
    font-weight: 600;
}
.search-bar .autocomplete-items div:focus {
    background-color: #042863;
    font-weight: 600;
    color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.search-bar .autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}

.select-cato {
    position: absolute;
    margin-top: -40px;
    height: 40px !important;
    margin-left: 293px !important;
    width: 177px !important;
    border-left: 1px solid rgb(248, 248, 248);
    border-right: 1px solid rgb(248, 248, 248);
}

.select-cato button {
    background-color: #dddddd;
    border: none;
    height: 40px;
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    color: #444444;
    border-radius: unset;
    padding: 8px 10px;
}
.filter-option-inner-inner {
    padding: 1px;
}

.select-cato .dropdown-item.active,
.dropdown-item:active {
    background: #858585;
}

.select-cato button:hover {
    color: #444444;
    border: none;
    box-shadow: none !important;
    outline: 0px;
    background: transparent !important;
}

.bootstrap-select .dropdown-toggle:focus,
.bootstrap-select > select.mobile-device:focus + .dropdown-toggle {
    outline: none !important;
}

.header-2 {
    height: 95px;
    border-bottom: none !important;
}

.cart-2 {
    margin-left: 23px;
    margin-right: -450px;
}

.cart-icon-2 {
    width: 25px;
    margin-top: 3px;
    margin-right: 36px;
}

.cart-count-2 {
    background-color: rgb(243, 53, 53);
    position: absolute;
    color: white;
    border-radius: 100%;
    padding: 0px 4px;
    font-size: 10px;
    margin-left: -39px;
    margin-top: -4px;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.fa-mobile-alt {
    margin-right: 5px;
}

.nav-bar-items {
    margin-top: 4.5px;
    transition: 0s;
}

.nav-margin {
    margin-left: 210px;
}

.cato-link:hover {
    cursor: pointer;
    transition: 0.3s;
}

.cato-list {
    position: absolute;
    background-color: white;
    height: 300px;
    width: 240px;
    margin-left: 1px;
    margin-top: 12px;
    box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px,
        rgb(60 64 67 / 15%) 0px 1px 3px 1px;
    z-index: 2000;
    padding: 5px 15px;
    font-family: Roboto, sans-serif;
    transition: 0.3s;
}
.c-l-m-t {
    margin-top: 11.5px;
}

.cato-list .cato-item {
    margin: 11px 0px;
}

.cart-2-c-m-l {
    margin-left: 90px;
}

.main-py {
    background-color: #f2f2f2;
    padding: 0px !important;
}

.nav-item {
    padding-top: 7px;
    padding-bottom: 7px;
    text-transform: uppercase;
}

.cart-block {
    position: absolute;
    margin-top: -27px;
    margin-left: -165px;
    z-index: 1002;
    max-height: 500px;
    overflow-y: auto;
    background: #fff;
    color: #666;
    width: 300px;
    box-shadow: 0 6px 11px 2px rgb(50 50 50 / 20%);
    transition: opacity 0.5s, transform 0.5s;
    transform: translate(0, 40px);
    display: block;
    visibility: hidden;
    opacity: 0;
    animation-delay: 2s;
}

.cart-block .cart-block-content {
    padding: 20px;
    overflow: hidden;
}

.cart-block ul,
.cart-block ol {
    list-style: none;
    padding-left: 0px;
}

.cart-block .cart-block-content .cart-title h5 {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    background: #fcb813;
    color: #000;
    font-weight: 700;
    padding: 3px;
}

.cart-block .cart-block-content .product-info {
    margin-top: 10px;
    border-bottom: 1px dotted #fcb813;
    display: block;
    overflow: hidden;
    padding-bottom: 5px;
}

.cart-block .cart-block-content .product-info .p-left {
    width: 100px;
    float: left;
    position: relative;
}

.cart-block a {
    font-size: 16px;
    color: #414042;
    font-family: Roboto, sans-serif;
}

.cart-block .p-left img {
    width: 80%;
    height: auto;
}

.cart-block .cart-block-content .product-info .p-right {
    margin-left: 20px;
    line-height: 16px;
    overflow: hidden;
}

.p-right p {
    margin: 0 !important;
    line-height: 16px;
}
.p-name {
    font-size: 13px;
    margin: 0;
    line-height: 14px;
    text-transform: none;
    color: black;
}
.cart-block .cart-block-content .product-info .p-right .p-price {
    color: #e74c3c;
    font-size: 14px;
    font-weight: 600;
}

.cart-block .cart-block-content .product-info .p-right .p-qty {
    color: #292929;
    font-size: 12px;
}

.cart-delete:hover {
    background: red;
    border: 1px solid red;
    color: #fff !important;
}

.cart-block .fa.pull-right {
    float: right;
}

.cart-delete {
    font-size: 13px;
    padding: 4px 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #666 !important;
}

.cart-block .cart-block-content .total-cart {
    margin-top: -5px;
    margin-bottom: 10px;
    color: #666;
    height: 32px;
    padding: 0 10px;
    border-bottom: 1px dotted #fcb813;
}

.cart-block .cart-block-content .total-cart .total-price {
    font-size: 15px;
    color: #333;
    font-family: Roboto, sans-serif;
    font-weight: 600;
}

.cart-block .pull-right {
    float: right;
    color: red;
}

.cart-block .cart-block-content .cart-buttons {
    overflow: hidden;
    width: 100%;
}

.cart-block .cart-block-content .cart-buttons a {
    margin-top: 5px;
    float: right;
}

.cart-block .cart-block-content .cart-buttons button {
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    padding: 2px 10px;
    border: 1px solid #ff4848;
    border-radius: 3px;

    color: #58595b;
    background: transparent;
}

.cart-block .cart-block-content .cart-buttons button:hover {
    text-decoration: none;

    box-shadow: inset 0 100px 0 0 #ff4848;
    color: white;
}

.cart-div {
    padding: 20px 0px;
}

.cart-block .cart-block-content .total-price-span {
    color: red !important;
}

.cart-div:hover .cart-block {
    visibility: visible !important;
    opacity: 1 !important;
}

.location-select-div {
    position: absolute;
    margin-top: -32px;
    margin-left: -354.5px;
    z-index: 100;
    max-height: 800px;
    /* height: 200px; */
    /* overflow-y: auto; */
    padding: 10px;
    background: #fff;
    color: #666;
    width: 591px;
    box-shadow: 0 6px 11px 2px rgb(50 50 50 / 20%);
    transition: opacity 0.4s, transform 0.4s;
    transform: translate(0, 40px);
    display: block;
    visibility: hidden;
    opacity: 0;
    animation-delay: 2s;
    font-size: 13px;
    color: #000;
    padding-bottom: 0px;
    border-radius: 2px;
}

.location-select-div .row {
    width: 100%;
    margin: 0px;
}

.location-select-div .col-cus {
    flex: 0 0 30%;
    max-width: 30%;
    padding: 0px 10px;
    text-align: center;
}

.location-select-div .col-cus-2 {
    flex: 0 0 10%;
    max-width: 10%;
    padding: 0px 10px;
    text-align: center;
}

.location-select-div input[type="text"] {
    width: 100%;
    height: 35px;
    padding-right: 10px;
    margin: 0;
    border: 0;
    transition: 0.2s;
    border: 1px solid #ced4da;
    background-color: #fff;
    font-size: 14px;
}

.location-select-div label {
    text-transform: capitalize;
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    font-weight: 600;
}

.location-select-div .reg-angle-icon {
    float: right;
    margin-right: 11px;
    margin-top: -24px;
    position: relative;
    font-size: 15px;
    z-index: 2;
}

.location-select-div .btn-locate {
    background-color: white;
    padding: 4px 12px;
    height: 31px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    font-size: 16px;
    transition: 0.2s;
    height: 35px;
    margin-top: 29px;
}

.location-select-div .btn-locate i {
    color: #717171;
}

.location-select-div .btn-locate:hover {
    /* background-color: rgb(255, 60, 60); */
    border: 1px solid rgb(255, 60, 60);
}

.location-select-div .btn-locate:hover i {
    color: rgb(255, 60, 60);
}

.location-select-div .btn-close {
    background: unset;
    border-radius: 100%;
    border: 0;
    font-size: 20px;
    transition: 0.2s;
    margin-top: -6px;
    position: absolute;
    padding: 1px;
    margin-left: 15px;
    color: #848484;
    cursor: pointer;
}

.location-select-div .btn-home {
    background: unset;
    border-radius: 100%;
    border: 0;
    font-size: 21px;
    transition: 0.2s;
    margin-top: -5px;
    position: absolute;
    padding: 1px;
    margin-left: -20px;
    color: #848484;
    cursor: pointer;
}

.location-select-div .btn-close:hover,
.location-select-div .btn-home:hover {
    color: #2c2c2c;
}

/*the container must be positioned relative:*/
.location-select-div .autocomplete {
    position: relative;
    display: inline-block;
    text-align: left !important;
}

.location-select-div .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    margin-top: -20px;
    background-color: #562222;
    max-height: 150px;
    overflow: auto !important;

    box-shadow: 0px 0px 1px 0px #b5b5b5;
    margin-right: 0;
    width: 150px;
    margin-left: 20px;
    border-radius: 0 0px 10px 10px;
    text-align: left !important;
    text-transform: capitalize;
}

.location-select-div .district .autocomplete-items {
    margin-top: -20px;
    margin-left: 192px;
}

.location-select-div .city .autocomplete-items {
    margin-top: -20px;
    margin-left: 364px;
}

.location-select-div .autocomplete-items div {
    padding: 4px 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.location-select-div .autocomplete-items div:hover {
    background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.location-select-div .autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}

.select-cato .dropdown-item {
    border-bottom: 1px solid #d4d4d4;
    font-size: 13px;

    padding: 4px 10px;
}

.select-cato .inner {
    max-height: 285px !important;
    min-height: 100px !important;
}

.select-cato .dropdown-menu {
    min-width: 174px !important;
    overflow: hidden;
    max-height: 300px !important;
    min-height: 100px !important;
}

.logged-user .dropdown-divider {
    margin: 1px 0;
}

.logged-user .fas {
    padding-right: 5px;
}

#header {
    z-index: 9999;
}

.logged-user .dropdown-menu {
    margin-top: -8px;
}
