.content {
    font-size: 14px;
    margin-top: -16px;
    padding: 30px;
    background: #f1f1f1; /* fallback for old browsers */
    padding-bottom: 60px;
    font-family: "Open Sans", sans-serif;
}

.titlebar-title {
    font-size: 14px !important;
    transition: 0.3s;
}
.titlebar {
    padding-left: 14px;
    font-weight: 400;
}

/* unvisited link */
.titlebar a:link {
    color: rgb(54, 53, 53);
}

/* visited link */
.titlebar a:visited {
    color: rgb(54, 53, 53);
}

/* mouse over link */
.titlebar a:hover {
    text-decoration: none;
    color: #042863;
    transition: 0.3s;
}

/* selected link */
.titlebar a:active {
    color: black;
}

.titlebar-icon {
    color: #042863;
    font-size: 15px;
}

.welcome-window {
    background-color: #ffffff;
    margin-top: 22px;
    border-radius: 5px;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.welcome-msg {
    font-size: 17px !important;
    font-weight: 700;
    margin-bottom: 7px;
}

.sign-input {
    border-radius: 7px;
    font-size: 14px;
    height: 38px;
    color: black !important;
}
.sign-input::placeholder {
    font-size: 0.8rem !important;
}

.sign-in-remember,
.sign-in-forget {
    color: rgba(116, 116, 116, 0.993);
    margin-bottom: 5px;
    font-size: 14px !important;
}

.submit-button {
    margin-top: 15px;
    width: 100%;
    height: 38px;
    border-radius: 7px;
}

.button-1 {
    background-color: #042863;
    margin-bottom: 10px;
    font-size: 14px;
}

.button-1:hover {
    background-color: #0347b6;
}

.button-2 {
    background-color: #39374e;
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 14px;
}

.sign-new {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

.sign-new span {
    background: #f1f3fa;
    padding: 0 10px;
}

.sign-image {
    margin-top: 164px;
    width: 90%;
    margin-right: -50px;
}

.welcome-desc {
    font-size: 13px !important;
    margin-bottom: 15px;
}

.eralert {
    margin-top: 15px;
    margin-bottom: 14px;
    padding: 5px 10px;
    font-size: 13px;
}

.eralert a {
    font-size: 13px;
    color: #761b18;
    transition: 0.3s;
}

.eralert a:hover {
    color: #d13a35;
}

.welcome-window label {
    color: #565656;
    font-size: 13px;
}

.welcome-window .lg,
.welcome-window .lg a {
    margin-top: 10px;
    font-size: 13px !important;
    text-align: right;
}

.welcome-window .lg a {
    color: #2000d2;
    transition: 0.1s;
}

.welcome-window .lg a:hover {
    color: #042863;
    text-decoration: none;
}
