.data-table-summery td:last-child {
    text-align: center;
}

.data-table-summery td:last-child span {
    margin: 0px 8px;
}

.data-table-summery td:nth-child(2) {
    text-align: left !important;
}

.data-table-all td:nth-child(5) {
    text-align: center !important;
}

.data-table-all td:nth-child(2) {
    text-align: left !important;
}

.data-table-all td:nth-child(6) span {
    margin: 0px 8px;
}

.stock-status,
.stock-status-oos {
    border-radius: 5px;
    padding: 2px 13px;
    border: none;
    color: white;
    font-size: 15px;
}

.stock-status {
    background: #5c20d1;
}

.stock-status:hover {
    background: #381973;
}

.stock-status-oos {
    background: #eb1a2f;
}

.stock-status-oos:hover {
    background: #af1524;
}

.disabled:hover {
    background: #eb1a2f;
}

.stock-status:focus {
    box-shadow: 0 0 0 0.15rem rgb(179 150 232 / 50%);
    outline: none;
}

.stock-status-oos:focus {
    box-shadow: 0 0 0 0.15rem rgb(245 138 148 / 50%);
    outline: none;
}

.title-summery,
.title-all {
    background: rgba(0, 0, 0, 0.2);
    color: black;
    width: 100%;
    padding: 4px 10px;
    margin-bottom: 12px;
    transition: 0.3s;
    border: none;
}

.title-summery {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.title-all {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.title button:hover,
.title button:focus {
    transition: 0.3s;
    outline: none;
}

.title-summery button,
.title-all button {
    padding-left: 20px;
    font-size: 18px;
}

.col-title {
    padding-right: 0px;
    margin-right: -15px;
}

.selected-title {
    background: rgba(0, 0, 0, 0.7);
    color: white;
}

.title {
    padding-bottom: 12px !important;
}

.modal-content {
    border: none !important;
    border-radius: 0px !important;
}

.btn-light {
    margin-bottom: 12px;
}

#DataTables_Table_0l,
.data-table-summery,
table.table-bordered.dataTable {
    width: 100% !important;
}
